
/*------------general body features-------------------------------------------*/
body {
	background-image: url(https://cdn.wallpapersafari.com/88/61/OthS97.jpg);
	margin: 0px;
	font-family: "Segoe UI", Arial, sans-serif;
	color: white;

}
html, body {margin: 0; height: 100%; overflow: hidden}
body::-webkit-scrollbar {
	display: none;
}

/*--------------making all text's margin null-------------------------------*/
h1,h2,h3,h4,h5,h6,p {
	margin: 0px;
}

/* removing all the styles from the links and formatting them white */
a {
	text-decoration: none;
	color: white;
}

/*------------------------NAVBAR----------------------------------------------*/
.navigation-bar {
	height: auto;
	width: auto;
	background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding-left: 5%;
	padding-right: 5%;
	transition: all ease-in-out 1s; /* when the navbar loads, every property transits for 1s */
}

/*-------making all divs inline block-------*/
.navigation-bar  div {
	display:inline-block;
}

/* animation for the music icon  */
@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*--- website icon image------ */
.website-logo img{
	height: 60px;
	width: 60px;
	border-radius: 100%;
    padding-top: 5px;
	animation-name:rotating;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
/*---name details---------*/
.website-name h4 {
	color: #e4335c;
}
/* for logo and name to be in line */
.title-combo > div {
	vertical-align: middle;
	display: inline-block;
}

/* -----Favourites------ */
.favs{
	font-size: 1.3rem;
	font-weight: bolder;

}
/* -----Search bar ------ */
.search-bar {
	width: 20%;
	position: relative;
}
/*------------Input Bar----------*/
.search-bar input {
	width: 100%;
	font-size: 16px;
	text-decoration: none;
	border-radius: 18px;
	border: none;
	padding: 5px;
	text-align: center;
	transition: all ease-in-out 0.1s;
}
/* -----search and mic color---- */
.search-ico {
	color: grey;
}
.mic-ico {
	color: grey;
}
/* When the user clicks on the search bar, there should be no blue outlining */
input:focus {
	outline: none;
}

/* ----Search icon--------- */
 #magnify-icon{
	display: inline-block;
	position: absolute;
	width: min-content;
	left: 5%;
	top: 10%;
	transition: all ease-in-out 0.1s;
}
/* ---------Mic icon-------- */
 #mic-icon{
	display: inline-block;
	position: absolute;
	width: min-content;
	right: 0%;
	top: 10%;
	transition: all ease-in-out 0.1s;
}

/*--------Bell Icon------------*/
/* Animation for bell icon */
@keyframes ringing_bell {
	0% {
		transform: rotate(-15deg);
	}
	50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(-15deg);
	}
}
.notification-bell{
	justify-content: flex-end !important;
}
.notification-bell img {
	width: 30px;
	height: 30px;
	animation-name: ringing_bell;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
/* ------Profile picture------------*/
.profile-picture img {
	width: 45px;
	height: 45px;
	border-radius: 100%;
}
/*--------------------NAVBAR ENDS----------------------------------------------------------*/

/*---------------------MAIN STARTS------------------------------------------------*/
main {
	width: 100%;
	padding: 0% 3%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	transition: all ease-in-out 1s;
}

/*-------------It contains 2 aside sections---------------------------------*/
.aside {
	display: inline-block;
	overflow: hidden;
}
/* --Aside section 1 of the main part-- */
.section-1 {
	width: 70%;
	height: 88vh;
	overflow: scroll;
}
/* ---Hiding Scrollbar---*/
.section-1::-webkit-scrollbar {
	display: none;
}
/* ---Aside section 2 of the main part-- */
.section-2 {
	width: 28%;
	height: 88vh;
	z-index: 2;
}

/*----------ASIDE SECTION 1 ------------------*/

/*------------------Jumbotron------------*/

.jumbotron {
	height: max-content;
	width: 100%;
	margin-top: 12px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/*background-color: #31373a;*/
	background-image: linear-gradient(90deg,#6e797e,#414c51,#1e2427);
	margin-bottom: 40px;
	position: relative;
}
/* ---Image of Singer---- */
.jumbotron-image {
	height: 20vw;
	width: 20vw;
	background-image: linear-gradient(to bottom,transparent,rgba(51, 53, 71, 1)),
		url(https://media.gq.com/photos/56bb4ae4cdf2db6945d2e49e/master/w_1600%2Cc_limit/justin-bieber-gq-0316-01.jpg);
	background-size: cover;
}
/* ---Right part of the jumbotron ---*/
.jumbotron-detail {
	width: 67%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	padding-right: 12px;
}
/*-------Description and buttons------*/
.descriptive-part,
.action-part {
	width: 100%;
	height: max-content;
}
/*----Band name and followers----*/
.song-name-main,
.followers {
	display: inline-block;
}
/* --Bnad name heading properties--- */
.song-name-main h1 {
	font-size: 2rem;
	margin-bottom: 3%;
}
/* follower count */
.followers {
	position: absolute;
	right: 0%;
	top: 5%;
}
/*----Followers---- */
.followers {
	position: absolute;
	right: 3%;
	top: 8%;
}
/* self explanatory */
.followers{
	font-size: 1.5rem;
}
.author {
	font-size: 1.2rem;
	color: lightgrey;
}
/*----Description font size---*/
.desc {
	padding: 2% 0;
	color: lightgrey;
}

/*---Action part---*/
.action-part p {
    margin-top: 1.5%;
	font-size: 1rem;
	font-family: cursive;
}
/*----Buttons---*/
.btns{
	margin-top: 3%;
}
.btns > button {
	border: 0px;
	height: 3vw;
	width: 10vw;
	color: white;
	font-size: 1.2vw;
	cursor: pointer;
}
/* --Play Button--- */
.btns > button:nth-child(1) {
	background-image: linear-gradient(-19deg, #1a678d 0%, #292b2c 100%);
	border:2px solid white;
	border-radius: 19px;
}
/*------removes outline-----*/
button:focus {outline:0;}

/* --Follow button --*/
.btns > button:nth-child(2) {
	background-color: transparent;
}

/*----------------PLaylist ------------------*/

.playlist-item {
	height: 8vh;
	box-sizing: border-box;
	background-color: #242a2c;
	opacity: 0.85;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}
/*----Hovering effect-------*/
.playlist-item:hover {
	background-color: #1a1d1e;
	 transition: all ease-in-out 0.3s; 
	 opacity: 0.8;
}

/*--------Left part--------------*/
.left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 30%;
	height: 100%;
	padding: 0% 1%;
}
/* ----Center part of the playlist item ----- */
.center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: min-content;
	height: 100%;
	opacity: 0;
	font-size: 14px;
	color: rgb(185, 185, 185);
}
/* -----Right part of the playlist item----- */
.right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 100%;
	padding-right: 2%;
	cursor: pointer;
}

/*--------Adjusting left part----------*/
.left > div:nth-child(2) {
	height: 80%;
	min-width: 50px;
	max-width: 50px;
	margin: 0px 12% 0px 12%;
	position: relative;
}
/*-------Image dimensions-------*/
.left > div:nth-child(2) img {
	width: 100%;
	height: 100%;
}
/*---------Singer name----------*/
.playlist-item h5{
	width: max-content;
}
.left > div:nth-child(3) p {
	color: rgb(185, 185, 185);
	font-size: 14px;
	/*width: 120%;*/
	width: max-content;
}
/* ---Customizing the play button---- */
.play-btn {
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: all ease-in-out 0.2s;
}
/* --Showing play button on hover--- */
.play-btn:hover {
	opacity: 0.7;
}
/*-----Time-----*/
.playlist-item:hover .center {
	opacity: 1;
	transition: all ease-in-out 0.3s;
}
/*----Heart and plus icon-------*/
.right {
	color: rgb(185, 185, 185);
}
/*-------Spacing in icons-------*/
.right div:nth-child(2) {
	margin-left: 27%;
}

/*--------------------ASIDE SECTION 1 ENDS-------------------*/

/*--------------------ASIDE SECTION 2-----------------------------*/

/* --More button properties-- */
label {
	display: none;
	position: absolute;
	right: 0%;
	top: 10%;
	padding-bottom: 5px;
	z-index: 3;
	box-shadow: 0px 0px 2px 1px white;;
	width: 70px;
	font-size: 20px;
	height: 21px;
	text-align: center;
	background-image: linear-gradient(45deg, #413030 -50%, #e02424 150%);
	cursor: pointer;

}
/* ---Hidden normally--- */
label ~ input {
	display: none;
}
/*--------Heading-----*/
.section-heading {
	margin-top: 3%;
	position: relative;
	margin-bottom: 12px;
}
/* ----To show in one line---- */
.section-heading div,
.section-heading h1 {
	display: inline-block;
}
.section-heading h1 {
	font-size: 1.5rem;
}
/*------For view all button----*/
.section-heading div {
	position: absolute;
	bottom: 15%;
	right: 2%;
	font-size: 14px;
	color: grey;
	cursor: pointer;
}
/*-----Scrolling---*/
.list {
	height: 36vh;
	overflow: scroll;
}
/* --hiding the scrollbar-- */
.list::-webkit-scrollbar {
	display: none;
}
/* this is particular item in the "list  container*/
.list-item {
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-bottom: 12px;
}
/* hovering effect for the list item */
.list-item:hover {
	background-color: #3e484d;
	 transition: all ease-in-out 0.3s; 
	 opacity: 0.8;
}
/* adjusting the name and image of the songs relative to their original position */
.list-item > div:nth-child(1) {
	width: 80px;
	height: 100%;
	position: relative;
}
/*-----Image sizing---*/
.list-item > div:nth-child(1) > img {
	width: 100%;
	height: 100%;
}
/*------SInger name----*/
.author-name{
	margin-top: 3%;
	font-size: 0.8rem;
	color: rgb(185, 185, 185);
}
/*------Extra icons-----*/
.extra {
	margin-right: 2%;
	text-align: right;
	height: 100%;
	cursor: pointer;
}
/*------------Recently PLayed---------*/
#recently-played{
	margin-top: 8% ;
}



/*----------------------------------FOOTER-------------------------------------------------*/

.bottom{
	position: fixed;
	bottom: 1px;
	width: 100%;
	/*height: 60.2px;*/
	height: 9vh;
	/*height: max-content;*/
	background-color: #282828;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
	padding: 0px 3%;
	box-sizing: border-box;
	z-index: 6;
}

/*------------Footer have 3 parts ------------*/

/*---------1.Song description------------------*/
.active-song-description {
	height: 90%;
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
/*.active-song-description>div{
	margin-left: 20%;
}*/
/* -----Image Container----------- */
#song-image {
	padding-top: 1vh !important;
	width: 60px;
	height: 60px;
	min-width: 50px;
	min-height: 50px;
}
/* --Current song image--- */
#song-image img {
	width: 100%;
	height: 100%;
}
/* ---Heart and ban icon---- */
.heart-and-ban-icon {
	display: flex;
	align-items: center;	
	height: 100%;
}
/*----Making curosr pointer---*/
.heart-and-ban-icon span{
	margin: 5%;
	cursor: pointer;
}
/* song decscription */
.song-desc {
	margin-right: 1%;
	margin-left: 1%;
}
/* song name */
.song-desc div:nth-child(1) {
	font-size: 20px;
}

/*---------2.Player Controls------------------*/
.player {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	padding-bottom: 0.4%;
}
/* --Controls of the player--- */
.controls {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
	padding: 1% 2%;
}
/*----Making curosr pointer---*/
.controls>div{
	padding: 2%;
	cursor: pointer;
}
.controls>div:hover{
	border:1px solid lightgrey;
	border-radius: 50%;
}

/*---Slider for the song--- */
#slider {
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	/*margin-top: 5px;*/
}
.time {
	margin: 0px 10px;
}

 /*----Adjusting the slider container--- */
.slidecontainer {
	width: 100%;
}
/* --For song slider appearance---*/
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #ec7171;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
/*----Hover on slider----*/
.slider:hover {
	opacity: 1;
}
/*---Adjusting the dimensions and styling of the SLider--- */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: lightgrey;
	cursor: pointer;
}
/* ---Circle on slider for movin */
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}

/*---------3.Extras with volume control------------------*/

.extras {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
/*----Making curosr pointer---*/
.extras>div{
  cursor: pointer;
}